.DS_Store
*.jpg
*.zip
*.pem
*-checkpoint.ipynb
*.pyc
*.cpython-37.pyc
./data/genre_lists/data_ready_for_model/genre_list_2021-04-28-09-08.csv
./data/genre_lists/data_ready_for_model/wiki-kaggle_X_test_2021-04-28-09-08.csv
./data/genre_lists/data_ready_for_model/wiki-kaggle_X_train_2021-04-28-09-08.csv
./data/genre_lists/data_ready_for_model/wiki-kaggle_genres_gender_cleaned_2021-04-28-09-08.csv
./data/genre_lists/data_ready_for_model/wiki-kaggle_y_test_2021-04-28-09-08.csv
./data/genre_lists/data_ready_for_model/wiki-kaggle_y_train_2021-04-28-09-08.csv
